# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# private config
/src/config.json
/src/server.crt
/src/server.key

# work environment
/start.ps1

# production files
publish