# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# private config
/src/*.json
/src/*.crt
/src/*.key
/publish/config.json
/publish/*.crt
/publish/*.key
/publish/*.log

# work environment
/start.ps1
/src/*.log

# production files
/publish/connector.exe
/publish/connector